body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: black;
    background-color:rgba(56, 83, 255, 0.877);
}

.container {
    width: auto;
    margin: 0px;
    background-color: rgb(22, 42, 175);
}

.header {
    padding: 20px;
    padding-bottom: 15px;
}

.header .judul {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.header ul li {
    display: inline-block;
    margin-top: 12px;
    margin-right: 9px;
    text-align: center;
}

.header a {
    text-decoration: none;
    color: goldenrod;
    padding: 4px;
}

.header a:hover {
    background-color: lightskyblue;
    color : white;
}


.super {
    height: 300px;
    background-image: url('img/super.jpg');
    background-size: cover;
    background-position: 0- 200px;
    border-top: 5px solid rgb(252, 101, 46);
    border-bottom: 5px solid lightskyblue;

}

.content {
    padding: 20px;
}

.content h2 {
    font-size: 30px;
    font-weight: bold;
}

.content .penulis {
    font-size: 11px;
    margin-top: -5px;
}

.content .penulis a {
    color: rgb(252, 101, 46);
    text-decoration: none;
}

.content p {
    margin-bottom: 20px;
    font-size: 15px;
    color: white;
}

.footer {
    background-color: #333;
    padding: 3px;
}

.footer .copy {
    text-align: center;
    color: rgb(252, 101, 46);
    font-size: 15px;
}